html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: $font-body;
    font-weight: 400;
    color: $color-text;
    background-color: #fff;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $color-text;
    text-decoration: none;
    background-color: transparent;
}

button {
    background: 0 0;
    border: 0;
    cursor: pointer;
    font-family: inherit;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    border: 0;
    outline: 0;
}