// Colors
$color-primary: #ff51bf;
$color-headings: #00242d;
$color-text:#7f8d98;
$color-white: #eafaff;

// Break points

$mobile: 375px;
$desktop: 1440px;

// Font family
$font-body: 'Open Sans',
sans-serif;
$font-headings: 'Poppins',
sans-serif;